header {
  padding: 20px;
  background: transparent;
  position: absolute;
  width: 100%;
  .logo {
    h1 {
      font-size: 1.4rem;
      font-weight: 600;
      text-transform: capitalize;
      text-shadow: 1px 1px rgb(226, 226, 226);
    }
  }
  label,
  input {
    display: none;
  }
  .nav-item {
    margin-left: 30px;
    a {
      text-transform: uppercase;
      font-size: 0.8rem;
      &:hover {
        color: $skin-color;
      }
    }
  }
}
