header {
  padding: 20px;
  background: transparent;
  position: absolute;
  width: 100%;
  .logo {
    h1 {
      font-size: 1.4rem;
      font-weight: 600;
      text-transform: capitalize;
    }
  }
  .nav-item {
    margin-left: 20px;
    a {
      text-transform: uppercase;
      font-size: 0.8rem;
    }
  }
}
